@model Business.ViewModels.Contact.ContactVM 

<section id="Contact">
    <div class="container">
        <h2>CONTACT US</h2>
        <div class="row">
            <div class="col-md-12">
                <span class="alert-success  contact_alert" >@TempData["msg"]</span>

                <form method="post" id="request" class="contactForum">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="FirstName" class="contact_label">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                            <input asp-for="FirstName" parsley-trigger="change" required class="form_contact">
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName" class="contact_label">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                            <input asp-for="LastName" parsley-trigger="change" required class="form_contact">
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Email" class="contact_label">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Email" parsley-trigger="change" required class="form_contact">

                        </div>
                        <div class="col-md-6">
                            <label asp-for="PhoneNumber" class="contact_label">Phone Number</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <input asp-for="PhoneNumber" placeholder="ex +994775142644" parsley-trigger="change" required class="form_contact">

                        </div>
                        <div class="col-md-12">
                            <label asp-for="Message" class="contact_label">Message</label>
                            <span asp-validation-for="Message" class="text-danger"></span>
                            <textarea asp-for="Message"  class="textarea_contact"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_contact_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>
<section id="Map_Contact">
    <div class="container">
        <div class="d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.5077526863383!2d49.84656671525641!3d40.37543787936996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d3c65f0508d%3A0xf55eb7ece67b24ab!2sStation%20Baku%20Restaurant!5e0!3m2!1saz!2s!4v1647677346969!5m2!1saz!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>