<div class="container d-flex justify-content-center alert-danger" style="margin-top:300px; margin-bottom: 300px ">
    <h2>@ViewBag.msg    </h2>
    <h2>
        <a asp-controller="Home" asp-action="Index" style="text-decoration: none "> Redirect Home Page</a>
    </h2>

</div>