@model  ReservationPostVM  
<main>
    <section id="Reservation">
        <div class="container">

            <h2>Reservation</h2>


            <div class="row">
                <div class="col-md-12">
                    <form method="post" id="request" class="contactForum">
                        <div class="row">
                            <div class="col-md-6">

                                <label asp-for="Name" class="contact_label">First Name<span class="text-danger">*</span></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <input asp-for="Name" parsley-trigger="change" required class="form_contact">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LastName" class="contact_label">Last Name<span class="text-danger">*</span></label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                                <input asp-for="LastName" parsley-trigger="change" required class="form_contact">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Email" class="contact_label  Emaillabel">Email<span class="text-danger">*</span></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <input asp-for="Email" parsley-trigger="change" required class="form_contact">

                            </div>
                            <div class="col-md-6">
                                <label asp-for="PhoneNumber" class="contact_label PhoneNumberlabel">Phone Number<span class="text-danger">*</span></label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                <input asp-for="PhoneNumber" parsley-trigger="change" placeholder="ex +994775142644" required class="form_contact">

                            </div>
                            <div class="col-md-6">
                                <label asp-for="ReservDate" class="contact_label">Reservation Date  / active time 9:00 AM – 11:30 PM<span class="text-danger">*</span></label>
                                <span   asp-validation-for="ReservDate"    class="text-danger without"></span>
                                <input asp-for="ReservDate" type="datetime-local" parsley-trigger="change" required class="form_contact  datepicker">

                            </div>
                            <div class="col-md-6">
                                <label asp-for="TimeIntervalIdId" class="contact_label">Hour<span class="text-danger">*</span></label>
                                <span asp-validation-for="TimeIntervalIdId" class="text-danger"></span>
                                <select class="form-control" asp-for="TimeIntervalIdId">
                                    @foreach (var timeInterval in(List<Timeİnterval>) ViewBag.TimeIntervals)
                                    {
                                        <option value="@timeInterval.Id">@timeInterval.Id</option>
                                    }
                                </select>

                            </div>


                            <div class="col-md-6">
                                <label asp-for="TableID" class="contact_label">Select Table<span class="text-danger">*</span></label>
                                <span asp-validation-for="TableID" class="text-danger"></span>
                                <select class="form-control" asp-for="TableID">
                                    @foreach (var table in(List<Table>) ViewBag.tables)
                                    {
                                        <option value="@table.Id">№ @table.TableNumber</option>
                                    }

                                </select>

                            </div>
                            <div class="col-md-6">
                                <label asp-for="Additionals" class="contact_label">Additionals</label>
                                <span asp-validation-for="Additionals" class="text-danger"></span>
                                <textarea asp-for="Additionals" id="rezervtxtarea"  class="textarea_contact"></textarea>
                            </div>
                            <div class="col-md-6">
                                <a href="~/Assets/img/@ViewBag.setting["plan"]" target="_blank">
                                    <img src="~/Assets/img/@ViewBag.setting["plan"]" id="ResPLan" alt="">
                                </a>

                            </div>


                            <label ><span class="text-danger">*</span>After Reservation, please confirm the email, otherwise the Reservation will not be registered</label>

                            <div class="col-md-12">
                                <button class="send_contact_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
    @*                 <script> *@
    @* window.onload = function() { *@
    @*     var d = new Date(); *@
    @*     var h = d.getHours(); *@
    @*     var m = d.getMinutes(); *@
    @*     var s = d.getSeconds(); *@
    @*     document.getElementById("ReservDate").value = h+":"+m+":"+s; *@
    @*     }; *@
    @* </script> *@
                    @* <input id="date1" size="60" type="date" format="MM/DD/YYYY" placeholder="MM/DD/YYYY"/> *@
                    @* https://flatpickr.js.org/plugins/ *@
                    @* https://amsul.ca/pickadate.js/ *@

                </div>
            </div>
        </div>
    </section>
</main>