<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="~/Assets/Style/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Style/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"
          integrity="sha512-kwJUhJJaTDzGp6VTPBbMQWBFUof6+pv0SM3s8fo+E6XnPmVmtfwENK0vHYup3tsYnqHgRDoBDTJWoq7rnQw2+g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="~/Assets/Style/style.css">
    @* <title>@ViewData["Title"] - Station Restaurant</title> *@
    <title>Station Restaurant</title>


</head>

<body>
<header>
    <section id="Navbar">
        <div id="Nav" class="navbar navbar-expand-md navbar-light fixed-top ">
            <div class="container">
                <div class="Logo d-flex">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/Assets/Img/Logo3.png" alt="">
                    </a>
                </div>
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColl"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>

                <div class="collapse navbar-collapse align-content-center" id="navbarColl">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Reservation" asp-action="Index">Reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Gallery" asp-action="Index">Gallery</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>

                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                </div>
            </div>
        </div>
    </section>
</header>


@RenderBody()
<footer>
    <section id="Footer">
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Socials</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Cavid386/">Facebook</a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/javid_hc/">Instagram</a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Cavid386">Twitter</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Pages</h3>
                            <ul>
                                <li>
                                    <a asp-controller="Menu" asp-action="Index">Menu</a>
                                </li>
                                <li>
                                    <a asp-controller="Reservation" asp-action="Index">Reservation</a>
                                </li>
                                <li>
                                    <a asp-controller="Gallery" asp-action="Index">Gallery</a>
                                </li>
                                <li>
                                    <a asp-controller="Contact" asp-action="Index">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3> Business Hours</h3>
                            <p>
                                 Sunday, Monday, Tuesday, Wednesday
                                 Thursday, Friday, Saturday <br>
                                 9:00 AM – 11:30 PM  
                            </p>
                        </div>
                        <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
                    </div>
                    <p class="copyright">Station Restaurant © 2022</p>
                </div>
            </footer>
        </div>
    </section>

</footer>
@* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " *@
@*         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " *@
@*         crossorigin="anonymous "></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
        crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
        crossorigin="anonymous "></script>
<script src="https://kit.fontawesome.com/3818e49a5f.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"
        integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/Assets/Js/owl.carousel.js "></script>
@RenderSection("Scripts", required: false)

<script src="~/Assets/Js/script.js "></script>
</body>

</html>