/* Navbar start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');
@import "normalize.css";

body {
    font-family: 'Playfair Display', serif;
}

#Navbar {
    /* background-color: #0B1517; */
    background-color: rgba(12, 12, 13, 0.78);
}

.navbar {
    background: rgba(12, 12, 13, 0.78);
}

.navbar-fixed-top {
    position: fixed;
    background-color: aqua;
    width: 100%;
    background-color: rgba(12, 12, 13, 0.78);
    transition: 0.8s ease
}


/* .Logo {
    justify-content: space-between;
} */

.Logo img {
    width: 120px;
    /* border-radius: 50%; */
}

.navbar {
    display: flex !important;
}


/* .navbar .navbar-nav .nav-item {
    margin-right: 50px;
} */

.navbar .navbar-nav .nav-link {
    font-family: Poppins,Helvetica;
    color: #fff !important;
    font-size: 18px;
    padding: 13px 11px 10px 40px;
}

.navbar .navbar-nav .nav-link :hover {
    color: #fff !important;
}

.fa-bars {
    color: #fff;
}


/* @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */


/* @media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */


/* @media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
} */


/* #navbarColl {
    justify-content: center
} */


/* Navbar End */


/*last produvts slider start */

/*last produvts slider end*/


/* <*******************************> */

.owl-carousel .item img {
    /* height: 600px; */
    display: inline-block;
    /*
    max-width: auto;
    */
    height: 700px !important;
    /* margin-bottom: 30px; */
    /*    object-fit: cover;
    object-position: center*/
}


/*@media screen and (max-width: 766px) {*/


/*    .owl-carousel .item img{*/


/*        width: 100%;*/


/*        height: 50px;*/


/*        object-fit: cover;*/


/*        max-width: initial;*/


/*    }*/


/*}*/

.owl-carousel .owl-wrapper {
    display: flex !important;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
}

@media screen and (max-width: 766px) {
    .navbar {
        background-color: rgba(12, 12, 13, 0.78);
    }
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: none;
}


/* Slider End */


/*featured start*/

/*.Featured-card {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/

/*    !**/
/*    flex-direction: column;*/
/*    *!*/
/*}*/

/*.Featured-card-title h4 {*/
/*    font-size: 22px;*/
/*    font-family: 'Playfair Display', serif;*/
/*    color: #241e1c;*/
/*}*/

/*.Featured-card-title {*/
/*    padding: 1.5rem 0.25rem;*/
/*    !* width: 255px;*/
/*    height: 251px; *!*/
/*}*/

/*a.img_container {*/
/*    width: 255px;*/
/*    height: 251px;*/
/*}*/


/*.Featured-card {
    margin-left: 150px;
    margin-left: 150px;
} */


/* .cover {
    width: 255px;
    height: 251px;
} */

/*
.container-featured{
    display: flex;
    justify-content: ;
}
*/

#Featured h3 {
    text-align: center;
    font-size: 42px;
    color: #241e1c;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (min-width: 1250px) {
    .col-xs-12 {
        width: 100px;
    }
}

.features img {
    width: 100px;
}

.features h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.features p {
    font-size: 15px;
    font-weight: lighter;
}

/*featured end*/


/*About start*/

#About {
    background-color: #f4f4f4;
}

#About h3 {
    text-align: center;
    font-size: 42px;
    color: #241e1c;
    padding-top: 50px;
    margin-bottom: 50px;
}

.about-img-container {
    /* padding-left: 120px; */
    width: 400px;
    margin: 50px 0 50px;
}

.about-img-col {
    display: flex;
    justify-content: center;

    /*
    width: 100px;
    */

}

.about-txt-container {
    margin-top: 50px;
    padding-right: 70px;
}

.title {
    margin-top: 15px;
    font-size: 18px;
}

.about-content {
    margin-top: 20px;
    font-size: 15px;
}


/*About end*/

/*paralax start*/


.Homeparallax {
    /* The image used */

    /* Set a specific height */
    min-height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.content-parallax {*/
/*    background: rgba(255, 255, 255, 0.5);*/
/*    min-height: 350px;*/
/*}*/

.content-parallax h1 {
    text-align: center;
    color: cyan;
    padding-top: 100px;
}

/*paraparalax end*/

/* footer start */

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social > a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* footer end */


/*head cards start*/
.headcards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.head-card-title {
    margin-top: 26px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.card-description h2 {
    text-align: center;
}

.card-description p {
    text-align: center;
}

.card-image {
    display: block;
    min-height: 20rem;
    /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    /* filter: blur(3px); */
    /* blur the lowres image */
}

.card-image > img {
    display: block;
    width: 100%;
    opacity: 0;
    height: 254px;
    /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none;
    /* remove the blur on fullres image */
    transition: filter 1s;
}


/* Layout Styles */

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 20%;
    max-width: 400px;
    min-width: 320px;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none !important;
}

.card-description:hover {
    color: #515151;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}

/*head cards end*/


/*mini galery start*/
/*galery editing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;

}

.galery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.gallery-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
    font-size: 32px;
}

.galery a {
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px #000000;
}

/*for home page galery*/
.galery .hg {
    height: 300px;
    width: 400px;

}

.galery a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galery a img:hover {
    transform: scale(1.4);
}

.gallery-title-hm {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}

.see-all {
    text-align: center;
    margin-top: 40px;
}

.see-all a {
    color: #4f4848;
    text-decoration: none;
    font-size: 25px;
}

.see-all a:hover {
    font-size: 25px;
}

#Galery {
    padding-bottom: 25px;
    padding-top: 35px;
}

/*#headcard{    padding-top: 70px;}*/

/*galery editing end*/


/*.menu-galery {*/
/*    padding-top: 70px;*/
/*}*/

/*.Galery-container {*/
/*    !*padding: 100px 0;*!*/
/*    background: #F4F4F4;*/
/*    padding-bottom: 50px;*/

/*}*/

/*.Galery-container h3 {*/
/*    text-align: center;*/
/*    font-size: 42px;*/
/*    color: #241e1c;*/
/*    padding-top: 50px;*/
/*    margin-bottom: 50px;*/
/*}*/

/*!*.Galery-container p {*!*/
/*!*    margin-top: 25px;*!*/
/*!*    text-align: center;*!*/
/*!*    font-size: 20px;*!*/
/*!*    color: #241e1c!important;*!*/
/*!*    text-decoration: none;*!*/


/*!*}*!*/
/*.Galery-container a {*/
/*    margin-top: 25px;*/
/*    text-align: center;*/
/*    font-size: 20px;*/
/*    color: #241e1c !important;*/
/*    text-decoration: none;*/


/*}*/

/*.galery-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/


/*.card {*/
/*    height: 250px;*/
/*    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);*/
/*    background-size: cover !important;*/
/*    color: white;*/
/*    position: relative;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 20px;*/
/*}*/


/*.card-link {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    z-index: 2;*/
/*    background: black;*/
/*    opacity: 0;*/
/*}*/

/*.card-link:hover {*/
/*    opacity: 0.1;*/

/*}*/

/*.card:hover {*/

/*    transform: scale(1.1);*/
/*    transition-duration: 0.5s;*/

/*}*/

/*mini galery end*/


/*
Menu page start
*/

.pagination_page {
    margin-top: 40px;
    margin-bottom: 45px;
}

#menu-link {
    color: #212529 !important;
    text-decoration: none;
}

#Menu {
    margin-bottom: 100px;
    margin-top: 100px;
}

@media (max-width: 992px) {
    #Menu {
        margin-bottom: 20px;
    }
}

.menu-img-container {
    width: auto;
}

.menu-img-container img {

    max-width: 100%;
    border-radius: 10px;

}

.menu .menu-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu .menu-img {
    width: 80px;
    margin-right: 20px;
}

.menu .menu-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.menu .menu-text {
    width: calc(100% - 100px);
}

.menu .menu-text h3 {
    display: flex;
    font-size: 22px;
    font-weight: 200;
    justify-content: space-between;

    /*  position: relative;*/
    /*  display: inline;
      font-size: 22px;
      font-weight: 700;*/
}

.menu .menu-text h3 strong {
    /* margin-left: 50px;*/
    font-weight: 600;

    text-align: center;
}

strong {
    font-weight: bolder;
}

/*.menu .menu-text h3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 13px;
    left: 0;
    border-top: 2px dotted #cccccc;
    z-index: -1;
}*/
.menu .menu-text p {
    position: relative;
    margin: 5px 0 0 0;
    float: left;
    display: block;
}

.menu-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;


}

.menu-logo-container img {
    width: 100%;
    height: auto;
    max-width: 700px;

}

.nav-pills {
    margin-bottom: 50px;
}

.nav-pills li .active {

    background-color: rgb(255, 255, 255) !important;
    border: 1px solid black;
    color: black !important;
    border-radius: 26px;
}

.nav-pills li a {

    color: rgba(47, 51, 48, 0.74) !important;
    margin-left: 5px;
    border-radius: 26px !important;

}

/* 1 */
.custom-btn {
    transition: all 0.3s ease;
}

.custom-btn:hover {
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    border: 1px solid black;
    color: black !important;
    border-radius: 26px;


}

/*
Menu page end
*/


/***********
 debug start
 ***********/
/*
.container {
    border: 2px solid green;
}

.row {
    border: 2px solid rgb(0, 0, 0);
}*/


/***********
 debug end 
 ***********/


/* Scroll Design */

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
/ border-radius: 15 px;
/ border-top-left-radius: 8 px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: gray;
/ background: linear-gradient(to bottom, purple, lawngreen, orangered, deepskyblue);
/
}

::-webkit-scrollbar-thumb:hover {
    background: #a2a2a2;
/ background: linear-gradient(to bottom, #4d004d, #3b8000, #a92e00, #00769b);
/
}

::-webkit-scrollbar-thumb:active {
    background: #343434;
/ background: linear-gradient(to bottom, #620062, #469100, #a82b00, #00a2de);
/
}

/* Scroll Design End */


/*.col-lg-7{*/
/*    padding: 0!important;*/
/*}*/


/*reservation start*/
.form-box input {
    width: 100%;
    border: 2px dotted #ccc;
    background: #f5f5f5;
    color: #202020;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    opacity: 1;
    min-height: 54px;
}

.form-reservations-box {
    width: 70%;
    margin: 0 auto;
}

.reservations-box {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.form-box {
    margin-bottom: 20px;
    min-height: 53px;
}

input {
    line-height: normal;
}

/*reservation end*/


.booking {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    background: rgba(0, 0, 0, .04);
}

.ttt {
    margin-bottom: 200px;
    margin-top: 200px;
}


/*    update    16.03.2022   */


#Product {
    margin-bottom: 100px;
    margin-top: 100px;
}

#Product h4 {
    margin: 0 0 13px;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    line-height: 7px;
}

#Product span {
    margin: 0 0 25px;
    font-size: 18px;
    font-weight: 600;
    color: #b1b1b1;
    display: block;
}


#Product p {
    margin: 0 0 30px;
    color: #686868;
    font-size: 20px;
}

.product_image {
    width: 100%;
    max-width: 400px;
}

.product_content {
    margin-top: 50px;
}


#Comment h4 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 18px;
    border-bottom: 1px solid #E3E3E3;
    margin: 0px;
    color: #000;
}

.comment_image {
    max-width: 100%;
    width: 50px;
}

.comment_image {
    border-radius: 50%;
    float: left;
}

.comments {

    padding: 0;
    margin-bottom: 0;
}

.comments li {
    list-style: none;
    padding: 25px 0;
    border-bottom: 1px solid #E3E3E3;
}

.content_post {
    padding-left: 15px;
    display: flow-root;
    margin-left: 15px;

}

.content_post h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0px;
    line-height: 17px;
    color: #000;
}

.content_post span {
    margin: 0 0 5px;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    display: inline-block;
}

.content_post p {
    margin: 0;
    color: #696969;
    font-weight: 400;
    font-size: 16px;
}

.comment_form {
    background: #fff;
    padding: 30px;
    margin-top: 25px;
}

.comment_form_control {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: #fff;
    color: #021626;
    font-size: 16px;
    font-weight: normal;
    border: #ddd solid 1px;
    box-shadow: #0000000f 0 0px 3px 0px;
}

.textarea {
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    color: #021626;
    font-size: 17px;
    font-weight: normal;
    padding: 12px 15px 10px 15px;
    border: inherit;
    height: 155px;
    border: #ddd solid 1px;
    box-shadow: #0000000f 0 0px 3px 0px;
}

.send_comment_btn {
    width: 185px;
    height: 55px;
    background: #282D32;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
    transition: ease-in all 0.5s;
    border: inherit;
    margin: 0 auto;
    display: block;
}

.Comment_form {
    margin-top: 10px;
    margin-bottom: 50px;
}

.pr_cover {
    box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
    padding-top: 23px;

}

/*  ----  */
.about_title {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}


/*   ---------   */

.content-parallax a {

    display: inline-block;
    border-radius: 4px;
    background-color: rgba(12, 12, 13, 0.44);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 25px;
    width: 200px;
    /*transition: all 0.5s;*/
    cursor: pointer;
    margin: 5px;
    /*padding: 15px 32px;*/

    /*text-decoration: none;*/
    /*color: #ffffff;*/
    /*font-size: 45px;*/
}


.content-parallax a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.content-parallax a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.content-parallax a:hover span {
    padding-right: 25px;
}

.content-parallax a:hover span:after {
    opacity: 1;
    right: 0;
}


#Home-parallax1 {
    margin-top: 40px;
}

/*.content-parallax a:hover{*/
/*    background-color: rgba(12, 12, 13, 0.78);*/

/*}*/


.page-link {
    color: black !important;
    font-weight: 400;
}

.disabled a {
    color: #999f9f !important;
    font-weight: 100;
}


/* contact  */
#Contact {
    margin-top: 100px;
}

#Contact h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    line-height: 81px;
    font-weight: 600;
}

.contactForum {
    background: #fff;
    box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
    padding: 40px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.contact_label {
    color: #000000;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: 500;
}


.form_contact {
    padding: 0px 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: #fff;
    color: #021626;
    font-size: 16px;
    font-weight: normal;
    border: #ddd solid 1px;
    box-shadow: #0000000f 0 0px 3px 0px;
}

.textarea_contact {
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    color: #021626;
    font-size: 17px;
    font-weight: normal;
    padding: 12px 15px 10px 15px;
    border: inherit;
    height: 200px;
    border: #ddd solid 1px;
    box-shadow: #0000000f 0 0px 3px 0px;
}

.send_contact_btn {
    width: 185px;
    height: 55px;
    background: #282D32;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 55px;
    color: #fff;
    text-align: center;
    transition: ease-in all 0.5s;
    border: inherit;
    margin: 0 auto;
    display: block;
}

.map {
    width: 100%;
}


#Reservation {
    margin-top: 100px;
}

#Reservation h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    line-height: 81px;
    font-weight: 600;
}


@media (min-width: 300px) {
    #ResPLan {
        width: 100%;
        max-width: 300px;
    }
}

@media (min-width: 576px) {
    #ResPLan {
        width: 100%;
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    #ResPLan {
        width: 100%;
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    #ResPLan {
        width: 100%;
        max-width: 500px;
    }
}


.menu_title {
    font-size: 60px;
    text-align: center;
}


.contact_alert{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
}


#rezervtxtarea{
    height: 38px;
}
 




